* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.banner {
    height: 600x;
    overflow: hidden;
}

.banner img {
    height: 350px;
    object-fit: cover;
}

header {
    background-color: #003C71;
}

.header-inner {
    align-items: center;
}

.search {
    margin-inline: 50px;
}

.col-6 {
    border-radius: 4px;
}

.fa-solid {
    color: #e19730;
    border-radius: 4px;

    background-color:* {
        padding: 0;
        margin: 0;
        box-sizing: border-box;

    }

    .banner {
        height: 600x;
        overflow: hidden;
    }

    .banner img {
        height: 350px;
        object-fit: cover;
    }

    header {
        background-color: #003C71;
    }

    .header-inner {
        align-items: center;
    }

    .search {
        margin-inline: 50px;
    }

    .search-input {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }


    .fa-magnifying-glass {
        color: #e19730;

    }

    .icon-tell {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 20px;
    }

    .icon-tell i {
        font-size: 20px;
    }

    .lienhe {
        display: flex;
        align-items: center;
    }

    .info p {
        margin: 0;
    }

    .info p:first-child {
        font-size: medium;
    }


    .tarbar a {

        color: white;
        text-decoration: none;
    }

    .tarbar {
        display: flex;
        justify-content: center;
        gap: 30px
    }

    h2 {
        text-align: center;
        color: rgb(204, 204, 10);
        margin: 30px;
    }
}

.icon-tell {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.icon-tell i {
    font-size: 20px;
}

.lienhe {
    display: flex;
    align-items: center;
}

.info p {
    margin: 0;
}

.info p:first-child {
    font-size: medium;
}


.tarbar a {

    color: white;
    text-decoration: none;
}

.tarbar {
    display: flex;
    justify-content: center;
    gap: 30px
}

h2 {
    text-align: center;
    color: rgb(204, 204, 10);
    margin: 30px;
}

/* xong herader , banner */

.card {
    width: 100%;
    height: auto;

}

.card img {
    width: 400px;
}

.content {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px
}


.footer {
    background-color: rgb(13, 41, 58);
    padding: 40px 0;
    color: white;
}

.footer h3 {
    color: white;
}

.footer ul {
    list-style-type: none;
    padding: 0;
}

.footer ul li {
    margin-bottom: 10px;
}

.footer ul li a {
    color: white;
    text-decoration: none;
}

.icon {
    display: flex;
    gap: 12px;

}

.icon img {
    width: 40px;
    height: 20px;
    border-radius: 50%;
}

.naav-2 {
    display: flex;
    gap: 20px;
    padding: 0 200px;
    margin-top: 30px;
    margin-bottom: 100px;

}

@media screen and (min-width: 480px) and (max-width : 768px) {}